*{
    padding: 0;
    margin: 0;
}

header{
    padding: 6em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.info{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 4em;
}

i{
    margin: 0 0.2em;
    padding: 0.4em;
    background-color: black;
    color: white;
    border-radius: 1em;
}

.icons{
    margin: 0 1em;
}

nav{
    margin-left: 4em;
    width: 50%;
}

nav a{
    margin: 0 1em;
    text-decoration: none;
    color: black;
}

.seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/palmeras.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10em 0;
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 195, 255, 0.281);
    width: 12em;
    height: 12em;
    border-radius: 50%;
}

.seccion2{
    width: 100%;
}





@media screen and (max-width: 900px){
    header{
        display: inline-block;
        padding: 3em 0;
    }
    nav{
        margin: 0;
        justify-content: center;
        text-align: center;
        width: 100%;
        
    }
    .info{
        margin: 0;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 3em;
    }
    .seccion1{
        padding: 3em 0;
    }
    h1{
        font-size: 18px;
        width: 8em;
        height: 8em;
    }

}