*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: yellowgreen;
}

nav ul{
    text-align: center;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 2em;
    margin: 0 1em;
    line-height: 3em;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 1em;
}


nav ul li a:hover{
    background-color: aqua;
    color: violet;

}