* {
    margin: 0;
    padding: 0;
}

.seccion1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(white, #54898b, #88533b);
}

nav {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    /* display: inline-block;
    padding: 2em 6em; */
    padding: 1em;
    color: #54898b;
    text-decoration: none;
    font-size: 38px;
    font-family: "Rambla", sans-serif;
    font-weight: 700;
    font-style: normal;
}


#hexagono {
    margin-top: 10em;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hexagono img {
    text-align: center;
    width: 25%;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    font-size: 150%;
    color: white;
    text-decoration: none;
    font-size: 38px;
    font-family: "Rambla", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
