*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: rgb(21, 210, 198);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
/*inicio de cabecera*/
.cabecera{
    background-color: rgb(56, 165, 190);
    width: 70%;
    height: 50px;
    padding: 0 50px;

}
.cabecera_link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.cabecera_img{
    object-fit: cover;
    height: 90%;
    margin-right: 10px;
    
}
/*fin cabecera*/
.navegacion{
    background-color: rgb(240, 24, 24);
    width: 70%;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
.navegacion a{
    text-decoration: aliceblue;
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
}
.navegacion:hover{
    background-color: aquamarine;
    color: aquamarine;
    transition:1s;

}
.banner{
    background-image: url(img/spaghetti-g947692dca_1920.jpg);
    background-position: center;
    width: 70%;
    height: calc(100vh-100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    
}

.banner h1{
    font-size: 50px;
}

.banner h2{
    font-size: 50px;
    
}

.banner a{
    width: 250px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    margin-top: 75px;
    color: rgb(255, 251, 251);
}

.section2{
   background-color: antiquewhite;
   width: 70%;
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.article{
   background-color: aquamarine;
   width: 60%;
   height: 100px;
   padding: 0 3%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.tabla-titulo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabla-titulo h2{
    font-size: 28px;
    color: black;
}
.tabla-titulo h3{
    font-size: 18px;
    margin-top: 10px;
    color: rgb(47, 46, 46);
}
.tabla-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 30px o;

}

.tabla{
    table-layout: auto;
    border: 1px black;
    width: 100%;
    height: 100%;
}

.fila-encabezado{
    background-color: aquamarine;
    width: auto;
    height: 40px;
}
.fila-dato{
    width: auto;
    height: 40px;
}
 .fila-dato:nth-child(even){
   background-color: aquamarine;
 }
 fila-dato:nth-child(odd){
   background-color: aqua;
 }
 .column{
    background-color: black;
    text-align: center;
 }
 .rs-div{
    width: 100%;
    height: 40px;
 }
 .rs-div img{
    object-fit: cover;
    height: 100%;
    margin: 8 10px;
 }

 .aside{
    width: 40%;
    height: 100%;
 }

 .mapa{
    background-color: blue;
    width: 100%;
    height: 35%;

 }
 .mapa iframe{
    width: 100%;
    height: 100%;
    border: 0;
 }

 .for-div{
    background-color: aqua;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    padding: 15px;

 }
 .for-div h1{
    font-size: 38px;
    padding: 15px 0;

 }
 .for-div h2{
   font-size: 28px;
   padding: 15px 0;
 }
 .for-div h3{
   font-size: 18px;
   padding: 15px 0;
 }
 .formulario{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

 }
 .input{
    width: 100%;
    height: 35px;
    margin: 5px 0;
    outline: none;
    font-size: 14px;
    padding: 5px;
 }


 .textarea{
    width: 100%;
    height: 80px;
    margin: 5px 0;
    outline: none;
    resize: none;
    font-size: 14px;
    padding-left: 5px;
 }
 .submit{
    width: 50%;
    height: 45px;
    margin: 30px 0;
    color: aqua;
    border-radius: 20px;
    font-size: 15px;
 }
