.padre {
    font: 1em sans-serif;
}

.padre div {
    border: solid 10px #94D1D2;
    width: 65px;
    margin: 2px 1px;
    padding: 2px;
    text-align: justify;
    background-color: #94D1D2;
}

.box1 {
    display: flex;
    font: 1em sans-serif;
    padding-right: 100px;
    
}
.box1 li{
    list-style: none;
    border: solid 1px white ;
    background-color: #94D1D2;
    height: 200px;
    width: 200px;

}

.capitulo{
    align-items: center;
    font: 2em sans-serif;
    display: flex;
    height: 300px;
    justify-content: center;
    width: 300px;
    background: #C1DBD2;
}
.sidebar{
    font: 1em sans-serif;
    display: flex;

}

.lateral {
    background-color: #85D7EF;
    margin-right: 2px;
    width: 100px;
    padding-top: 12px;
    padding-left: 24px;
}

.contenido {
    width: 400px;
    height: 300px;
    padding-top: 12px;
    padding-left: 24px;
    background-color: #C5E2DA;
    
}

.sidebar2{
    font: 1em sans-serif;
    display: flex;

}

.lateral2{
    list-style: none;
    line-height: 40px;
    background-color: #85D7EF;    
    margin-right: 2px;
    width: 200px;
    height: 320px;
    padding-top: 12px;
    padding-left: 24px;
}

.contenido2{
    margin-top: 16px;
    width: 300px;
    height: 320px;
    padding-top: 12px;
    padding-left: 24px;
    background-color: #C5E2DA;
}

.lateral2 li{
    align-items: center;
    margin-right: 25px;
    border-bottom: solid 1px black;
}