.padre {
    font: 1em sans-serif;
    display: flex;
}

.padre div {
    border: solid 10px #94D1D2;
    width: 65px;
    margin: 2px 1px;
    padding: 2px;
    text-align: justify;
    background-color: #94D1D2;
}
